*{ margin: 0px;
   padding: 0px;
 }
 body{
    background-image: url("../img/f1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #E2E2E2;
 }

 div#general{
   margin: auto;
   margin-top: 40px;
   width: 500px;
   height: auto;
   border-radius: 10px;
   box-shadow:5px 5px 40px #000;
   background: rgba(5, 7, 12, 0.30);

 }

  input{
   margin-left: 10px;
   border: 0;
   border-radius: 5px;
   text-align: center;
   background-color: #C7C7C7;
 }

.btnAgregar{
  padding: 10px;
  font-size: 16px;
  display: block;
  width: 100%;
  border: none;
  margin: 1em 0;
  text-transform: uppercase;
  background: crimson;
  opacity: .7;
}
