*{ margin: 0px;
   padding: 0px;
 }
 body{
    background-image: url("../img/f5.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #E2E2E2;
 }

 div#general{
   margin: auto;
   margin-top: 40px;
   width: 520px;
   height: auto;
   border-radius: 10px;
   box-shadow:5px 5px 40px #000;
   background: rgba(63, 143, 31, 0.8);
   margin-bottom: 80px;
 }

 input{
  margin-left: 30px;
  border: 0;
  border-radius: 5px;
  float: right;
  text-align: center;
  color: #E2E2E2;
  background: rgb(244, 247, 253);
}

 .btnAgregar{
   padding: 10px;
   font-size: 16px;
   display: block;
   width: 100%;
   outline: none;
   border: none;
   margin: 3em 0;
   text-transform: uppercase;
   background: #03258B;
   opacity: .8;
   transition:opacity .5s ease;
   border-radius: 10px;

 }
